platform_utils==1.5.10
accessible_output2
argparse
audioop-lts; python_version>='3.13'
configobj
git+https://github.com/accessibleapps/resource_finder
git+https://github.com/samtupy/smart_list_macos_fixes
mistune
pydub
pyinstaller
git+https://github.com/samtupy/sound_lib_macos_fixes
websockets
WXPython
